
<ion-content [fullscreen]="true" class="welcome-content">

  <!-- Imagen de fondo con efecto estético -->
  <div class="background-container">
    <img class="background-image" src="assets/images/IMG_20230310_082210.jpg" alt="Background">
  </div>
  <br><br>
  <!-- Contenido central estilizado -->
   <ion-card>

   
  <div class="content-wrapper ion-text-center">
    <h2 id="wellcome_title" class="welcome-title">{{ 'WelcomePage.Title.Wellcome' | translate }}</h2>
    <h1 id="saludo" class="welcome-message">{{ user.firstName }} {{ user.lastName }}</h1>
    <h3 class="welcome-subtitle">{{ 'WelcomePage.Subtitle.Message' | translate }}</h3>
    <img src="assets/images/Captura_de_pantalla_2024-11-29_000710-removebg-preview.png" alt="">
  </div>
</ion-card>
  <br>
  

</ion-content>




