<ion-content>

  <div class="background-image" *ngIf="dino"></div>

  <ion-grid fixed *ngIf="dino" class="dino-content">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalles de la Asignatura</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table style="width: 100%; border-collapse: collapse;">
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Sede</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.sede }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Asignatura</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.idAsignatura }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Sección</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.seccion }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Nombre Asignatura</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.nombreAsignatura }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Día</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.dia }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Bloque Inicio</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.bloqueInicio }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Bloque Termino</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.bloqueTermino }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Hora Inicio</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.horaInicio }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 1px solid #ddd;">Hora Termino</th>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ dino.horaFin }}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!dino" class="center-frame">
    <div class="picture-frame ion-text-center">
      <img class="you-must-scan" style="width: 90%; max-width: 200px; height: auto;" src="/assets/images/que-es-un-codigo-QR.jpg">
      <h2>{{ 'Clase.From.Necesitas' | translate }}</h2>
    </div>
  </div>

</ion-content>
