<ion-content>

  <div class="background-image" *ngIf="dino"></div>

  <ion-grid fixed *ngIf="dino" class="dino-content">
    <ion-row>
      <ion-col size="12">
        <h2>{{'HomePage.Button.Miclase' | translate}}</h2>
        <ion-card>
          
          <ion-card-header>
            <ion-card-title>{{'Miclase.From.Detalles' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content style="color: black;" >
            <table style="width: 100%; border-collapse: collapse; ">
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Sede' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.sede }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Asignatura' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.idAsignatura }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Seccion' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.seccion }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Nombre' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.nombreAsignatura }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Dia' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.dia }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Inicio' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.bloqueInicio }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Termino' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.bloqueTermino }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Hora' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.horaInicio }}</td>
              </tr>
              <tr>
                <th style="text-align: left; padding: 8px; border: 2px solid #000000;">{{'Miclase.From.Horat' | translate}}</th>
                <td style="padding: 8px; border: 2px solid #000000;">{{ dino.horaFin }}</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!dino" class="center-frame">
    <img src="assets/images/IMG_20230310_082210.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; WIDTH:100%; height: 100%;">
    <div class="picture-frame ion-text-center">
      <img class="you-must-scan" style="width: 90%; max-width: 200px; height: auto;" src="/assets/images/que-es-un-codigo-QR.jpg">
      <h2>{{ 'Clase.From.Necesitas' | translate }}</h2>
    </div>
  </div>

</ion-content>
