.tituloPrincipal {
  font-size: 1em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: rgb(0, 0, 0);
  font-size: small !important;
}
p{
  font-size: 18px !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bolder;

}
h1, h2{
  font-weight: bold;
  color: rgb(111, 76, 9); /* Aquí aplicas el color también */
}
h3 {
  font-weight: bold;
  color: rgb(0, 0, 0); /* Aquí aplicas el color también */
}
.publicacionSeleccionada  {
  font-size: small !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bolder;
}
ion-card{
  --background: transparent;
  background-color: rgba(255, 154, 53, 0.705); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 15px;
}
ion-list{
   --background: transparent;
  background-color: rgba(255, 154, 53, 0.705); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 15px;
}
ion-item{
  --background: transparent;
  background-color: rgba(255, 255, 255, 0.705); /* Fondo semi-transparente */
  border-radius: 15px;

}


h4 {
  font-weight: bold;
  color: rgb(111, 76, 9); /* Aquí aplicas el color también */
  font-size: 25px !important;
}

.sin-bordes {
  box-shadow: none;
}

.con-padding-top {
  margin-top: 15px !important;
}

.custom-modal {
  --width: auto; /* Ajusta automáticamente al ancho del contenido */
  --height: auto; /* Ajusta automáticamente al alto del contenido */
  --max-width: 90%; /* Puedes ajustar el máximo ancho */
  --max-height: 90%; /* Puedes ajustar el máximo alto */
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

/* Estilo adicional para asegurar que el contenido se ajuste */
.modal-content {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}


// ion-card {
//   margin-top: 80px;
//   --background: transparent;
//   background-color: rgba(255, 154, 53, 0.705); /* Fondo semi-transparente */
//   padding: 20px;
//   border-radius: 15px;
// }

// ion-card-content {
//   padding: 20px;
//   border-radius: 15px;
// }

// ion-card-content.login {
//   margin-top: 80px;
// }
