<ion-content [fullscreen]="true">
  

  
    <img class="background-image" src="assets/images/IMG_20230310_082210.jpg">
    <h2 class="ion-text-center">Mis Datos: {{ usuario.firstName }} {{ usuario.lastName }}</h2>

  <ion-card class="ion-text-center">
    <ion-item><ion-input label="Cuenta" labelPlacement="floating" [(ngModel)]="usuario.userName"></ion-input></ion-item>
    <br>
    <ion-item><ion-input label="Correo" labelPlacement="floating" [(ngModel)]="usuario.email"></ion-input></ion-item>
    <br>
    <ion-item><ion-input label="Contraseña" labelPlacement="floating" [(ngModel)]="usuario.password"></ion-input></ion-item>
    <br>
    <ion-item><ion-input label="Pregunta secreta" labelPlacement="floating" [(ngModel)]="usuario.secretQuestion"></ion-input></ion-item>
    <br>
    <ion-item><ion-input label="Respuesta secreta" labelPlacement="floating" [(ngModel)]="usuario.secretAnswer"></ion-input></ion-item>
    <br>
    <ion-item><ion-input label="Nombre usuario" labelPlacement="floating" [(ngModel)]="usuario.firstName"></ion-input></ion-item>
    <br>
    <ion-item><ion-input label="Apellido" labelPlacement="floating" [(ngModel)]="usuario.lastName"></ion-input></ion-item>
    <br>
    <ion-item class="font-size-12">
      <ion-select [(ngModel)]="usuario.educationalLevel.id" (ionChange)="actualizarNivelEducacional($event)" label="Educación" position="floating">
        <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales" [value]="nivelEducacional.id">
          {{nivelEducacional.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <app-date-picker 
          [(ngModel)]="usuario.dateOfBirth"
          (ionChange)="onFechaNacimientoChange($event)"
          label="Nacimiento"
          labelPlacement="floating">
      </app-date-picker>
    </ion-item>
    <br>
    <ion-item><ion-input label="Direccion" labelPlacement="floating" [(ngModel)]="usuario.address"></ion-input></ion-item>
  </ion-card>
  <ion-button 
  (click)="guardarUsuario()" 
  color="primary" 
  shape="round" 
  expand="full" 
  style="font-size: 16px; font-weight: bold; text-transform: uppercase; box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);"
>
  Actualizar Datos
</ion-button>

  <br>

</ion-content>