<ion-header >  
  <ion-toolbar class="transparent-bg">  
    <ion-row>
      <ion-col size-md="3">  
        <ion-img src="/assets/images/duoc_transp.png" style="width: 120px; height: auto; margin-left: 10px;"></ion-img>  
      </ion-col>  
      <ion-col size-md="6" class="center-text">  
        <div class=" animated-text" style="font-size: 30px;">{{'AppName' | translate}} </div>  
      </ion-col>  
      <ion-col size-md="3"></ion-col>  
    </ion-row>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
    <img src="/assets/images/IMG_20240405_141450.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; WIDTH:100%; height: 100%;">
  
    <ion-card-content class="ion-text-center">
    <ion-card>
      <ion-card-header>
        <h2>Respuesta Incorrecta</h2>
        <h6>Lo sentimos pero los datos ingresados no son correctos</h6>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="/assets/images/incorrecto.jpg" style="width:60%; margin-left: auto;
        margin-right: auto;"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="block" (click)="login()">Ir al inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>